<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error $ERROR_CODE - $ERROR_NAME</title>
	<style>
		$MAIN_CSS
        html{
            background-color: #f1c40f;
        }

        body{
            color: #fefefe;
        }
	</style>
</head>
<body>
<div class="error-middle">
    <h1>Error $ERROR_CODE - $ERROR_NAME</h1>
    <p>$ERROR_DESC</p>
    <div>Refreshing page in <b id="countdown"></b> seconds</div>
</div>
<script>
    function countdown(remaining) {
        if(remaining === 0) location.reload(true);
        if(remaining > 0){
            document.getElementById('countdown').innerHTML = remaining;
            setTimeout(() => { countdown(remaining - 1); }, 1000);
        }
    }
    countdown(10);
</script>
</body>
</html>
